.container{
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: auto;
    border: 1px solid black;
}

.square {
    box-sizing: border-box;
}

.newRes{
    margin-top: 10px;
    margin-left: auto;
}

.ink{
    background-color: black;
}



